.wrapper {
  position: fixed;
  transition: transform .4s ease-in-out;
  width: 100vw;
  height: 100vh;
  // @temp
  border: 5px black solid;
  // end @temp
}

.anchor {
  display: block;
  position: absolute;
  width: var(--boxwidth);
  height: var(--boxheight);
  z-index: -1;
  opacity: 0;
}


.grid {
  position: absolute;
  transition: transform .7s ease-in-out;
  width: calc(var(--slideNumber)*100vw);
  height: 100vh;
  display: grid;
  grid-template: repeat(4, var(--boxheight)) / repeat(3, var(--boxwidth));
  grid-gap: 0em;
}

:target ~ .grid {
    transform: translate3d( 0, 0, 0);
}

@for $i from 0 through $slideNumber {
  #p#{$i+1}:target ~ .grid {
    transform: translate3d( calc(-#{$i} * var(--boxwidth) ), 0, 0);
  }
}

@for $i from 0 through $slideNumber {
  #p#{$i+1}:target {
    left: calc(#{$i}*100vw);
    top: 0;
  }
}
