body {
    overflow: hidden;
}

#menuChk {
  display: none;
  position: fixed;
  top: -5em;
}

.wrapper {
  position: fixed;
  transition: transform .4s ease-in-out;
  width: 100vw;
  height: 100vh;
  top: 0em;
  left: 0em;
  transform-origin: 50% 35%;
  @media screen and (min-width: 580px) {
    top: 1.5em;
    left: 1.5em;
  }
}


#menuChk:checked ~ .wrapper, {
  transform: scale(.3);
  @media screen and (min-width:759px) {
    transform: scale(.2);
    transform-style: preserve-3d;
    transform: scale(.2) translateX(33vw) translateY(-340px) rotateX(45deg) rotateZ(45deg);
  }
}

.anchor {
  display: block;
  position: absolute;
  width: var(--boxwidth);
  height: var(--boxheight);
  z-index: -1;
  opacity: 0;
}


.grid {

  position: absolute;
  transition: transform .7s ease-in-out;
  width: calc(var(--slideNumber)*100vw);
  height: 100vh;
  display: grid;
  grid-template: var(--boxheight) auto/ repeat(var(--slideNumber), var(--boxwidth));

  grid-column-gap: 0em;
  grid-row-gap: 0em;

  @media screen and (min-width: 580px) {
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
  }

  @media screen and (min-width:759px) {
    grid-row-gap: 10em;
  }
}

:target ~ .grid {
    transform: translate3d( 0, 0, 0);
}

@for $i from 0 through $slideNumber {
  #p#{$i+1}:target ~ .grid {
    transform: translate3d( calc(-#{$i} * var(--translateWidth) ), 0, 0);
  }
}

@for $i from 0 through $slideNumber {
  #p#{$i+1}:target {
    left: calc(#{$i}*100vw);
    top: 0;
  }
}

@for $i from 0 through $slideNumber {
  #item#{$i+1} {
    grid-column: #{$i + 1};
    grid-row: 1;
  }
}


.titre-item {
  width: 200vw;
  font-size: 20vw;
  text-transform: uppercase;
  letter-spacing: 10vw;
  line-height: 138%;
  transform: rotate(-90deg) translate3d(-30vw, -104%, 0);

  a {
    font-family: inherit;
    color: black;
    text-decoration: none;
  }
}

.item {
  background-color: white;
  position: relative;
  width: var(--boxwidth);
  height: var(--boxheight);
  overflow: hidden;
  box-shadow: 20px 20px 50px 0px rgba(1,1,1,0.1);

  display: grid;
  grid-template-columns: 50px auto 50px;

  // @temp
  // border: 25px blue solid;
  // margin: 25px;
  // end @temp

  .next,
  .previous {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: box-shadow .3s;
    cursor: pointer;

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: archiabold;
      font-size: 28px;
      text-decoration: none;
      color: black;
    }
  }

  .previous {
        grid-column: 1 / 1;
        &:hover {
          box-shadow: inset -17px 0px 12px 0px rgba(1,1,1,0.1);
        }
  }

  .next {
        grid-column: 3;

        &:hover {
          box-shadow: inset 17px 0px 12px 0px rgba(1,1,1,0.1);
        }
  }


  a.focus-page {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: var(--boxwidth);
    height: var(--boxheight);
    opacity: 0;
    z-index: 100;
  }

  .background {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    // filter: brightness(95%) saturate(130%);
  }

  article {
    position: relative;
    z-index: 150;
  }
}

@for $i from 0 through $slideNumber {
  #clipped#{$i+1} {
      clip-path: url('#path#{$i+1}');
  }
}

@for $i from 0 through $slideNumber {
  #p#{$i+1}:target ~ .grid > #item#{$i+1} .focus-page {
      display: none;
  }
}

label.selected-closer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 4em);
    height: calc(100vh - 4em);
    z-index: 100;
}



@for $i from 0 through $slideNumber {
  #menuChk:checked ~ .wrapper #p#{$i+1}:target ~ .grid > #item#{$i+1} label.selected-closer {
      display: block;
      cursor: pointer;
  }

  #menuChk:checked ~ .wrapper #p#{$i+1}:target ~ .grid > .item {
    transition: .3s opacity;
    opacity: .6;
  }

  #menuChk:checked ~ .wrapper #p#{$i+1}:target ~ .grid > #item#{$i+1} {
    opacity: 1;
  }

  #menuChk:checked ~ .wrapper #p#{$i+1}:target ~ .grid > .item a.focus-page:hover {
    opacity: 1;
  }
}
