@import '../fonts/01.Archia-Thin-webfont/stylesheet.css';
@import '../fonts/02.Archia-Light-webfont/stylesheet.css';
@import '../fonts/03.Archia-Regular-webfont/stylesheet.css';
@import '../fonts/04.Archia-Medium-webfont/stylesheet.css';
@import '../fonts/05.Archia-Semibold-webfont/stylesheet.css';
@import '../fonts/06.Archia-Bold-webfont/stylesheet.css';

@import '../fonts/Calendas-Plus-Regular-Webfont/stylesheet.css';
@import '../fonts/Calendas-Plus-Bold-Webfont/stylesheet.css';
@import '../fonts/Calendas-Plus-Italic-Webfont/stylesheet.css';

@import '../fonts/fontello/fontello.css';

html,
body,
a,
p {
  font-family: 'archiaregular', sans-serif;

  strong {
    font-family: 'archiabold', sans-serif;
  }

  em {
    font-family: 'archiathin', sans-serif;
  }
}

h1,
h2, {
  font-family: 'calendas_plusbold', cursive;
}

h3 {
  font-family: 'archiabold', sans-serif;
}
