<!DOCTYPE html>
<html>
    <head>
        {% block header %}
            <title>{{title}} | {{ site.title }}</title>
        {% endblock %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>
      <!-- <canvas id="fs" width="2000" height="2000" class="grain-canvas"></canvas> -->
      <input id="menuChk" name="menuChk" type="checkbox">
      <div class="wrapper">
  {% set id = 1 %}
    {% for item in sections %}
        <div id="p{{ id }}" class="anchor"></div>
        {% set id = id + 1 %}
    {% endfor %}
        <div class="grid">
    {% block content %}
      {% set idItem = 1 %}
      {% for item in sections %}
          <h2 class="titre-item" id="titreItem{{ idItem }}"><a href="#p{{idItem}}">{{ item.titleitem }}</a></h2>
          <section class="item" id="item{{idItem}}">
            <!-- <canvas id="grain{{idItem}}" class="grain-canvas c{{idItem}}" width="1000" height="1000"></canvas> -->
            <img id="clipped{{idItem}}" class="background" src="./images/idRob2018FINAL.jpg" alt="">

            <svg height="0" width="0">
              <defs>
                <clipPath id="path{{idItem}}">
                    <text class="text" x="300" y="1000"
                          font-family="calendas_plusbold"
                          font-size="145vh">
                      {{ item.lettre }}
                    </text>
                </clipPath>
              </defs>
            </svg>
            <article>
              <div class="navbar">
                <label for="menuChk" class="menuBtn" aria-label="Toggle Menu Visibility">☰</label>
              </div>
              <a href="#p{{idItem}}" class="focus-page">focus</a>
              <label class="selected-closer" for="menuChk">&nbsp;</label>
              <h2>{{item.title}}</h2>
              {{ item.contents | safe }}
            </article>
            {% set idItem = idItem - 1 %}
            {% if idItem !== 0 %}
            <div class="previous">
              <a href="#p{{idItem}}">&larr;</a>
            </div>
            {% endif %}
            {% set idItem = idItem + 2 %}
            {% if idItem === 7 %}
            {% set idItem = 1 %}
            {% endif %}
            <div class="next">
              <a href="#p{{idItem}}">&rarr;</a>
            </div>
          </section>
      {% endfor %}
    {% endblock %}
        </div>
      </div>
      <script src="./js/img.js" charset="utf-8"></script>
    </body>
</html>
