<!DOCTYPE html>
<html>
    <head>
        {% block header %}
            <title>{{title}} | {{ site.title }}</title>
        {% endblock %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ root }}/css/main.css">

    </head>
    <body>

      {% block content %}
        {% for item in sections %}
            {{ item.contents | safe }}
        {% endfor %}
      {% endblock %}
      
    </body>
</html>
