<!DOCTYPE html>
<html>
    <head>
        {% block header %}
            <title>{{title}} | {{ site.title }}</title>
        {% endblock %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ root }}/css/main.css">

    </head>
    <body>

      <input id="menuChk" name="menuChk" type="checkbox">
      <div class="wrapper">
  {% set id = 1 %}
    {% for item in sections %}
        <div id="p{{ id }}" class="anchor"></div>
        {% set id = id + 1 %}
    {% endfor %}
        <div class="grid">
    {% block content %}
      {% set idItem = 1 %}
      {% for item in sections %}
          <div class="item" id="item{{idItem}}">
            <div class="navbar">
							<label for="menuChk" class="menuBtn" aria-label="Toggle Menu Visibility">☰</label>
						</div>
    				<a href="#p{{idItem}}" class="focus-page">focus</a>
            <label class="selected-closer" for="menuChk">&nbsp;</label>
            {{ item.contents | safe }}
            {% set idItem = idItem + 1 %}
            <a href="#p{{idItem}}">Next</a>
            <img id="clipped{{idItem - 1}}" class="background" src="./images/idRob2018FINAL.jpg" alt="">

            <svg height="0" width="0">
              <defs>
                <clipPath id="path{{idItem - 1}}">
                  <text x="300" y="1000"
                        font-family="calendas_plusbold"
                        font-size="145vh">
                    {{ item.lettre }}
                  </text>
                </clipPath>
              </defs>
            </svg>
          </div>
      {% endfor %}
    {% endblock %}
        </div>
      </div>
      <script src="./js/img.js" charset="utf-8"></script>
    </body>
</html>
