@mixin font-face($font-family, $file-path, $font-weight, $font-style, $letter-spacing: auto) {

  // @if ($file-path: '') {
  //   font-family: $font-family;
  //   font-style: $font-style;
  //   font-weight: $font-weight;
  //   letter-spacing: $letter-spacing;
  // } @else {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path}.woff') format('woff'),
    url('#{$file-path}.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
    letter-spacing: $letter-spacing;
    }
  // }
}

// @mixin delay($items_number, $delay) {
//   @for $i from 1 through $items_number {
//     &:nth-child(#{$i}) {
//       transition-delay: $delay * $i;
//     }
//   }
// }
